* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  padding: 0;
}

/* Baris header*/
header {
  display: inline;
}

nav {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: #0d1b2a;
  align-items: center;
  z-index: 4;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.logo {
  color: rgb(255, 255, 255);
  width: 30%;
}

.logo span {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
  background: linear-gradient(to right, white, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  color: rgb(255, 0, 0);
}

.blog a {
  text-decoration: none;
  color: white;
}

/* Baris konten*/
.artikel {
  width: 95%;
  margin: auto;
}

.profil {
  width: 1rem;
  height: 1rem;
  text-decoration: none;
}

/*Slide foto*/

.slideimage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6)), url(../asset/global-technology-eart.jpg);
  background-size: cover;
}

.background {
  width: 49%;
  color: white;
}

/* Artikel 1*/
.konten_utama {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.konten_besar {
  width: 50%;
  background-image: url(../asset/street-city.jpg);
  background-size: cover;
}

.konten_kecil1 {
  display: flex;
  justify-content: space-between;
  width: 49%;
  flex-wrap: wrap;
}

.konten {
  width: 49%;
  background-size: cover;
}

.konten1 {
  background-image: url(../asset/street-city.jpg);
  margin-bottom: 10px;
}
.konten2 {
  background-image: url(../asset/bola.png);
  margin-bottom: 10px;
}
.konten3 {
  background-image: url(../asset/alam.jpeg);
}
.konten4 {
  background-image: url(../asset/ai.jpg);
}

.text1 {
  color: white;
  padding-left: 10px;
  padding-top: 280px;
  padding-right: 20px;
}
.text {
  color: white;
  padding-left: 10px;
  padding-top: 90px;
}

/* Kartu konten */

.kartu {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.kategori {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 50px;
}

.kategori h3 {
  width: 10%;
}

.kategori span {
  width: 90%;
  height: 1px;
  background-color: black;
  margin-top: 16px;
}

.kartu1 {
  width: 32.5%;
}

.kartu1 img {
  width: 100%;
  height: 200px;
}

/*Footer*/
footer {
  width: 100%;
  background-color: #415a77;
  border-top: 2px solid black;
  padding: 0 70px;
  margin-top: 50px;
}

.isi_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 60px 0;
}

.isi {
  display: flex;
  justify-content: center;
  width: 33%;
  margin-top: 20px;
}

.isi a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.copy {
  color: #e0e1dd;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 1200px) {
  .text {
    padding-top: 50px;
    font-size: 15px;
  }

  .slideimage {
    display: flex;
    height: 50vh;
    justify-content: center;
  }

  .isi a {
    font-size: 12px;
  }

  footer {
    padding: 0 30px;
  }
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #415a77;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #415a77;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
