:root {
  --primary-text: #2F4192;
  --light-blue-text: #29A798;
  --secondary-text: #676E7D;
}

body, html {
  background-color: white;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

body {
  padding-top: 40px
}


/* Navbar */
.navbar {
  background-color: #DEE3ED;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  position: fixed;
  top: 0;
  right:0;
  left:0;
  z-index: 1000;
}

.navbar-container {
  display:flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  position: relative;
}


/* Logo */
.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #25398D;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: auto;
  top: 0;
  left: 0;
}

.logo-text {
  color: white;
  font-size: 28px;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
}

.logo-text.highlight {
  color: #2FF5DE;
  font-weight: 700;
}


/* Navbar Action Item */
.action-item-container {
  display: flex;
  column-gap: 16px;
}

.action-item {
  display: flex;
  column-gap: 8px;
  align-items: center;
  cursor: pointer
}

.action-item.hide {
  display: none;
}

.action-item:hover {
  opacity: 0.8;
}


.action-item p {
  font-size: 14px;
  color:#505FA3;
  margin: 0px
}


/* Hero */
.hero {
  background-color: #EEF2F7;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 28px;
}

.hero-container {
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Hero Text */
.hero-text {
  font-size: 46px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  color: #676E7D;
}

.hero-text.highlight {
  color: black;
}

/* Hero Category */
.hero-category-container {
  display: flex;
  column-gap: 16px;
}

.hero-category {
  color: #676E7D;
  font-size: 14px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
}

.hero-category.active {
  color: black;
  border-bottom: 3px solid #3F509B;
}

.hero-category:hover {
  border-bottom: 3px solid #3F509B;
}

/* Menu Modal */
.menu-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding-top: 40px;
  background-color: white;
  top:0;
  bottom:0;
  right:0;
  left: 0;
  display:flex;
  justify-content: center;
  transition: 700ms;
}




.menu-modal-container {
  width: 100%;
  max-width: 800px;
  display: flex;
}

.menu-modal-category-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 56px;
  padding-right: 56px;
  border-right: 1px solid #CFCFCF;
}

.menu-modal-category-list-item {
  font-size: 16px;
  color: #676E7D;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
}

.menu-modal-category-list-item.active, .menu-modal-category-list-item:hover {
  color: #2F4192;
}


.menu-modal-result-container {
  display:flex;
  flex-direction: column;
  flex: 1;
}

.menu-modal-result-title {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 32px
}

.menu-modal-result-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #CFCFCF;
  padding-right: 40px;
  padding-left: 40px;
}

.menu-modal-result-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CFCFCF;
  row-gap: 12px;
  cursor: pointer;
  transition: 300ms;
}

.menu-modal-result-list:hover {
 transform: scale(1.03);
}

.menu-modal-result-list-title {
  font-size: 24px;
  margin: 0px;
  font-weight: 600;
}

.menu-modal-result-list-time {
  font-size: 12px;
  font-weight: 600;
  color: #676E7D;
}

/* Search Modal */
.search-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-modal-content {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

.search-modal-input {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  padding: 16px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #DEDEDE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  outline: none;
}

.search-modal-content-result-container {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px
}

.search-modal-content-result {
  display: flex; 
  flex-direction:column;
  padding-top:16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #CFCFCF;
  cursor: pointer;
  transition: 200ms;
}

.search-modal-content-result:last-child {
  border: 0px;
}

.search-modal-content-result:hover {
  transform: scale(1.02);
 }

.search-modal-content-result p {
  font-size: 12px;
  font-weight: 600;
  color: #2F4192;
  margin: 0px;
}

.search-modal-content-result h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  margin-top: 2px;
}
.search-modal-content-result time {
  font-size: 12px;
  font-weight: 600;
  color: #676E7D;
  margin-top: 8px;
}

.modal-show {
  animation-duration: 0.5s;
  animation-name: opacity-entry-animation;
}

.modal-close-animation {
  animation-duration: 0.5s;
  animation-name: opacity-exit-animation;
}

.modal-hide {
  display: none;
}

@keyframes opacity-entry-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes opacity-exit-animation {
  0% {
    opacity: 1;
    transform: translateY(0px)
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.highlight-container {
  margin-top: 16px;
  width: 100%;
  display:flex;
  justify-content: center;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.highlight-content {
  display: flex;
  width: 100%;
  max-width: 960px;
  column-gap: 24px;
  
}

.highlight-content-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.highlight-content-info p {
  font-size: 16px;
  font-weight: 600;
  color: #2F4192;
  margin: 0px;
}

.highlight-content-info h1 {
  font-size: 38px;
  font-weight: 600px;
}

.highlight-content-info time {
  font-size: 14px;
  font-weight: 600;
  color: #676E7D;
}

.highlight-content-image {
  flex: 1;
  height: 100%;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  row-gap: 32px;
}

.content-container-section {
  display: flex;
  flex-direction:column;
  width: 100%;
  max-width: 960px;
  row-gap: 16px;
}

.content-container-section-title {
  margin: 0px; 
  font-size: 24px;
  color: var(--primary-text);
  font-weight: 700;
}

.latest-content-container {
  display: flex;
  column-gap: 24px;
}

.latest-content-card {
  display: flex;
  flex-direction: column;
}

.latest-content-card p {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text);
  margin: 0px;
}

.latest-content-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/10;
  margin-top: 16px;
}

.latest-content-card h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  margin-top: 8px;
}

.latest-content-card time {
  font-size: 12px;
  font-weight: 600;
  color: #676E7D;
  margin-top: 16px;
}


.trending-content-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.content-card {
  display: flex;
  flex-direction:column;
  row-gap: 12px;
}


.content-card.border {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E3E3E3;
}

.content-card.border:nth-child(2), .content-card.border:nth-child(5), .content-card.border:nth-child(8) {
  border-right: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
  padding-right: 8px;
  padding-left: 8px;
}

.content-card.border:nth-child(1), .content-card.border:nth-child(4), .content-card.border:nth-child(7) {
  padding-right: 8px;
}

.content-card.border:nth-child(3),  .content-card.border:nth-child(6), .content-card.border:nth-child(9) {
  padding-left: 8px;
}


.content-card-rank {
  font-size: 14px;
  font-weight: 600;
  color: var(--light-blue-text);
  margin: 0px;
}

.content-card-news {
  display: flex;
  column-gap: 12px;
}

.content-card-news img {
  flex: 1;
  height: 108px;
  aspect-ratio: 16/12;
}

.content-card-news.lg img {
  height: 141px;
  aspect-ratio: 16/10;
}

.content-card-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.content-card-highlight {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.content-card-highlight p {
  font-size: 10px;
  font-weight: 600;
  margin: 0px;
  color: var(--primary-text);
}

.content-card-highlight.lg p {
  font-size: 12px;
}

.content-card-highlight h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}


.content-card-highlight.lg h3 {
  font-size: 16px;
}
.content-card-news time {
  font-size: 10px;
  font-weight: 600;
  color: #676E7D;
}

.more-content-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  column-gap: 32px;
  margin-top: 24px;
}

.more-content-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 16px;
}

.more-content-highlight {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.more-content-highlight-background {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1; */
}

.more-content-highlight-info {
  position: relative;
  z-index: 2;
flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 600;
  color: white;
  row-gap: 16px;
  padding: 16px;
}

.more-content-highlight-info p {
  font-size: 14px;
  margin: 0px;
}

.more-content-highlight-info h3 {
  font-size: 24px;
  margin: 0px;
}

.more-content-highlight-info time {
  font-size: 12px;
  margin: 0px;
}